


ul, li {
	display: block;
	padding: 0;
	margin: 0;
	outline: none !important;
}



* {
	outline: none !important;
}
.container {
	max-width: 1170px !important;
	/*padding: 0px !important;*/
	/*overflow: hidden;*/
	/*padding-bottom: 60px;*/
}

a:hover {
	text-decoration: none;
	color: #fff;
}
ul,li {
	display: block;
}


p {
	padding: 0;
	margin: 0;
}


* {
	box-sizing: border-box !important;
}

.flex {
	display: flex;
}
.flexc {
	display: flex;
	align-items: center;
}

.visi {
	overflow: visible !important;
}

a,p {
	color: #373737;
}


/*секция advanteges- преимущества*/


h2{
	font-size: 49px;
	text-transform: uppercase;
	color: #373737;
	font-family: 'Roboto-BoldCondensed';
	position: relative;
	display: inline-block;
}
h2:after{
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	top: 100%;
	left: 2.5px;
	background: #ffc800;
	margin-top: -10px;
}

.main_titl_desc {
	font-size: 20px;
	text-transform: uppercase;
	  font-family: 'Roboto-RegularCondensed'; 
	  margin-top: 35px;
}
.main_titl_desc_w {
	width: 335px;
}

.step_card_titl {
	  font-family: 'Roboto-Medium'; 
	  font-size: 15px;
	  text-transform: uppercase;
	  color: #373737;
	  padding:5px 0px;
}

.step_card {
	width: 220px;
	height: 210px;
	/*border:1px solid red;*/
	padding: 15px 0px 15px 13px;
	-webkit-box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.2);
box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.2);
border-radius: 10px;
position: relative;
z-index: 4;
background: #fff;
}
.step_card_text {
	 font-family: 'SFUIDisplay-Light';
	 font-size: 15.5px;
}
.step_card_ikon  {
	height: 53px;
	display: flex;
	align-items: center;
}

.step_wrap_row2 {
	justify-content: center;
}

.step_wrap_row3 {

	justify-content: flex-end;
}

.step_card_right_upd  {
	margin-left: 80px;
}

.step_card_right_upd {
	position: relative;
}
.step_card_right_upd:before {
	position: absolute;
	content: '';
	background: #ffc800;
	width: 55px;
	height: 4px;
	left: 0px;
	margin-left: -67.5px;
	top:50%;
	margin-top: -2px;
}
.step_card_right_upd:after {
	position: absolute;
	content: '';
	background: #ffc800;
	width: 4px;
	height: 55px;
	left: 50%;
	top:100%;
	margin-top: 12.5px
}

.step_wrap_row3 .step_card_right_upd:after {
	display: none;
}

.step_wrap_right {
	padding-right: 20px;
}

.step_wrap_r {
	margin-bottom: 80px;
}
.step_wrap_r:last-child{
	margin-bottom: 0px;
}

.step_card_number p {
	font-size: 61px;
	color: #f0f0f0;
	position: absolute;
	top: 0px;
	left: 0px;
	margin-top: -65px;
	z-index: 1;
	font-family: 'Roboto-Bold';
}

.step_card_number {
	position: relative;
}
.num_car_left {
	left: 80px !important;
}

.step_wrap_row1 {
	margin-top: 80px;
}

.label_section_text{
font-family: 'SFUIDisplay-Light'; 
font-size: 13px;
color: #656565;

}

.label_section_line {
	width: 100px;
	background: #cccccc;
	height: 1px;
	margin-left: 30px;
}
.posrel {
	position: relative;
}
.label_section {
	position: absolute;
	top: 100%;
	left: -130px;
	margin-top: -160px;
	transform: rotate(-90deg);
	width: 300px;
}
section {
	padding-top: 90px;
	padding-bottom: 90px;
}

.biprogect_form {
	width: 365px;
	/*border:1px solid red;*/
	padding: 50px 35px;
	-webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.2);
box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.2);
border-radius: 5px;
background: #fff;
}

.biprogect_form_titl {
	font-size: 20px;
	text-align: center;
	  font-family: 'SFUIDisplay-Medium'; 
	    font-family: 'Roboto-Medium'; 
	  color: #373737;
}
.b-stule {
	font-size: 16px;
	 font-family: 'Roboto-Bold'; 
	 width: 100%;
	 height: 48px;
	 background: #ffc800;
	 display: flex;
	 justify-content: center;
	 align-items:center; 
	 color: #3e3e3e;
	  margin-top: 30px;
		-webkit-box-shadow: 0px 0px 10px 0px rgba(255,200,0,0.3);
-moz-box-shadow: 0px 0px 10px 0px rgba(255,200,0,0.3);
box-shadow: 0px 0px 10px 0px rgba(255,200,0,0.3);
 transition: .2s;
}	
.biprogect_form_item input {
	font-size: 16px;
	  font-family: 'SFUIDisplay-Medium';
	 width: 100%;
	 height: 48px;
	 background: #ececec;
	 display: flex;
	 justify-content: center;
	 align-items:center; 
	 color: #3e3e3e !important;
	 border:none;
	 margin-top: 30px;
	 padding-left: 15px;
	 transition: .2s;

}
.biprogect_form_item input:hover {
	
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);

}	
.biprogect_wrap {
	display: flex;
	justify-content: flex-end;
	padding-right: 30px;
}
.b-stule:hover {
		-webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
cursor: pointer;

}

.biprogect_under_text {
	font-size: 12px;
	font-family: 'SFUIDisplay-Light'; 
	color: #373737;
}

#biprogect {
	position: relative;
}

.biprogect_book {
	position: absolute;
	top: 160px;
	left: 50%;
	margin-left: -750px;
}

.biprogect_form {
	margin-top: 80px;
}
#biprogect {
	background: #f8f8f8;
	overflow: hidden;
}
#step {
	
	background: #f8f8f8;
}
.footer_logo_text {
	font-family: 'Roboto-Medium';
	font-size: 15px;
	width: 200px;
	margin-left: 10px;
}

.footer_logo_wrap img {
	width: 100px;
}

.footer_text_pesonal {
font-family: 'SFUIDisplay-regular'; 
font-size: 15px;
border-bottom: 1px solid #c5c5c6;
display: inline-block;
color: #373737;
margin:20px 0px;
}
.footer_text_adr {
font-size: 15px;
display: inline-block;
color: #373737;
 font-family: 'Roboto-Medium';
}

.footer_wrap_reserved {
	text-align: center;
	width: 140px;
	font-size: 15px;
	/*font-family: 'SFUIDisplay-Medium';*/
	 font-family: 'Roboto-Medium';
}

#footer {
	background: #f6f6f6;
}

.footer_mail a {
	  font-family: 'SFUIDisplay-Bold'; 
	  font-size: 19px;
	  color: #373737;
	  border-bottom: 1px solid #ffc800;
}
.footer_phone1 p {
	font-size: 13.5px;
	  font-family: 'Roboto-Medium';
}
.footer_phone1 a {
	font-size: 21px;
	/*font-family: 'SFUIDisplay-Heavy';*/
	 /*font-family: 'SFUIDisplay-Bold'; */
	 font-family: 'Roboto-Medium';
	transition: .2s;
}
.footer_phone1 a:hover {
	color: #000;
}

.footer_phone2 a {
	font-size: 21px;
	/*font-family: 'SFUIDisplay-Heavy';*/
	font-family: 'Roboto-Medium';
	transition: .2s;
}
.footer_phone2 a:hover {
	color: #000;
}

.footer_btn {
	width: 195px;
	height: 38px;
	color: #373737; 
	font-family: 'SFUIDisplay-Bold'; 
	display: flex;
	justify-content: center;
	align-items: center;
	background: #ffc800;
	border:1px solid #ffc800;
	transition: .2s;
	margin-top: 15px;
}
.footer_btn_link {
	display: inline-block;

}

.footer_btn:hover {


		-webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
}

.footer_phone2 {
	margin-top: 10px;
}
.footer_mail {

	margin-top: 10px;
}
.footer_btn_link {
	margin-top: 5px;
}

#footer {
	padding-top: 80px;
	padding-bottom: 80px;
}





/* стили блока аккордеон */
#question .accordion {
  width:100%;
  max-width: 850px; 
  margin: 0 auto
}
/* секции аккордеона */
#question .accordion .accordion_item {
  margin-bottom:1px;
  position:relative
}
/* заголовки панелей аккордеона */
#question .accordion .title_block {
  font-weight: 400;
  font-size: 18px;
  color: #eee;
  cursor:pointer;
  background: #f6f6f6;
  padding:40px 55px 40px 0px;
  -webkit-transition:all .2s linear 0;
  -webkit-transition-delay:.2s 0;
  transition:all .2s linear 0;
}

/* переключатель панелей, положение вниз */
#question .accordion .title_block:before {
  content:'Открыть';
  height:47px;
  width:175px;
  display:block;
  border-right-width:0;
  border-top-width:0;
  position:absolute;
  right:30px;
  top:61.5px;
  margin-top: -15px;
  border:2px solid #ff9400;
  text-align: center;
  color: #3e3e3e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
   font-family: 'SFUIDisplay-Medium';
   font-family: 'Roboto-Medium'; 
   -webkit-box-shadow: 0px 0px 34px 0px rgba(255,148,0,0.19);
-moz-box-shadow: 0px 0px 34px 0px rgba(255,148,0,0.19);
box-shadow: 0px 0px 34px 0px rgba(255,148,0,0.19);
transition: .2s;
}
/* активный переключатель, положение вверх */
 #question .accordion .active_block .title_block:before {
  content:'Закрыть';
transition: .2s;
}
#question .accordion .title_block:hover {
  background: #f6f6f6;  
}

/* заголовок активного блока  */
#question .accordion .active_block .title_block {
  background: #ecebeb;
  color:#fefefe
}
/* блоки с содержанием */
#question .accordion .info {
  display:none;
  padding:10px 15px;
  overflow: hidden;
  background:#fff;
}
/* параграф внутри блоков с содержанием */
#question .accordion .info_item {
  margin-bottom:0px
}
/* картинки внутри аккордеона */
#question .accordion .info img {
    height: auto;
    
}
/* полноразмерная картинка */
#question .large-img {
    width: 100%;
    margin-bottom: 10px;
}
/* миниатюра слева */
#question .img-left {
    width: 25%;
    float:left;
    margin:5px 15px 5px 0;
}
/* миниатюра справа */
#question .img-right {
    width: 25%;
    float:right;
    margin:5px 0 5px 15px;
}

#question section {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

#question .title_block {
	margin-bottom: 10px;
}
#question .title_block_question {
	width: 115px;
	height: 60px;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	font-family: 'SFUIDisplay-Medium'; 
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.3);
box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.3);
}

#question .title_block_text {
	color: #373737;
	width: 500px;
	margin-left: 15px;
	font-size: 18px;
	font-family: 'SFUIDisplay-Medium';
}

#question .info_wrap {
	display: flex !important;
	align-items: center;
}
#question .info_item_logo img{
	width: 75px;
}
#question .info_item_logo {
	margin-right: 20px;
}

#question .info_item {
	font-size: 18px;
	 font-family: 'SFUIDisplay-Medium'; 
}
#question .question_wrap {
	margin-top: 40px;
}

#question .accordion_item:last-child .title_block {
    margin-bottom: 0px;
}








#question {
	position: relative;
}
#question .question_fig {
	font-size: 340px;
	 font-family: 'Roboto-Medium';  
	 color: #fff;
	 position: absolute;
	 top: -245px;
	 left: 50%;
	 margin-left:-82.5px; 
	 /*z-index: 100;*/
	 text-shadow: 0px 0px 20px rgba(0,0,0,0.1);
	 -webkit-text-shadow: 0px 0px 20px rgba(0,0,0,0.1);
	-moz-text-shadow: 0px 0px 20px rgba(0,0,0,0.1);
	 animation: 4s ease-in-out 0s normal none infinite running pulse;
}


@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}





/*стили второй аккордион*/


#pricelist .pricelist_wrap section{
padding-top: 0px !important;
padding-bottom: 0px !important;
}

#pricelist .accordion .title_block {
    font-weight: 400;
    font-size: 18px;
    color: #eee;
    cursor: pointer;
    background: #ccc;
    padding: 40px 55px 40px 0px;
}




/* стили блока аккордеон */
#pricelist .accordion {
  width:100%;
  /*max-width: 600px; */
  margin: 0 auto
}
/* секции аккордеона */
#pricelist .accordion .accordion_item {
  /*margin-bottom:1px;*/
  /*border-bottom:1px solid red;*/
  position:relative
}
/* заголовки панелей аккордеона */
#pricelist .accordion .title_block {
  font-weight: 400;
  font-size: 18px;
  color: #eee;
  cursor:pointer;
  background: #fff;
  padding:10px 0px 10px 0px;
  -webkit-transition:all .2s linear 0;
  -webkit-transition-delay:.2s 0;
  transition:all .2s linear 0
}
/* переключатель панелей, положение вниз */
#pricelist .accordion .title_block:before {
  content:'';
  height:8px;
  width:8px;
  display:block;
  border:2px solid #000;
  border-right-width:0;
  border-top-width:0;
  -ms-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  transform:rotate(-45deg);
  position:absolute;
  right: 100%;
  top:16px;
  margin-right:-30px;
}
/* активный переключатель, положение вверх */
#pricelist .accordion .active_block .title_block:before {
  border-left-width:0;
  border-bottom-width:0;
  top:18px;
  border:2px solid #000;
    border-right-width:0;
  border-top-width:0;
  -ms-transform:rotate(135deg);
  -webkit-transform:rotate(135deg);
  transform:rotate(135deg);
}
#pricelist .accordion .title_block:hover {
  background: #f8f8f8;  
}

/* заголовок активного блока  */
#pricelist .accordion .active_block .title_block {
  background: #f8f8f8;
  color:#fefefe
}
/* блоки с содержанием */
#pricelist .accordion .info {
  display:none;
  padding:0px 0px;
  overflow: hidden;
  background:#fff;
  margin:0px 0px;
}
/* параграф внутри блоков с содержанием */
#pricelist .accordion .info_item {
  margin-bottom:10px
}
/* картинки внутри аккордеона */
#pricelist .accordion .info img {
    height: auto;
    /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);*/
}
/* полноразмерная картинка */
#pricelist .large-img {
    width: 100%;
    margin-bottom: 10px;
}
/* миниатюра слева */
#pricelist .img-left {
    width: 25%;
    float:left;
    margin:5px 15px 5px 0;
}
/* миниатюра справа */
#pricelist .img-right {
    width: 25%;
    float:right;
    margin:5px 0 5px 15px;
}

.pricelist_wrap {
	/*background: yellow;*/
	padding: 90px 0px;
/*	padding-top: 90px;
	padding-bottom: 70px;*/
}

.pricelist_grid_fiest{
	width: 200px;
	/*border:1px solid #000;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin:0px 10px;
}

.pricelist_grid_second {
width: 200px;
	border:2px solid #ff9500;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin:0px 10px;
	border-top:0px;
}

.pricelist_grid_therd {
	width: 200px;
	/*border:1px solid green;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin:0px 10px;
}

.pricelist_grid {
	display: flex;
	justify-content: flex-end;
}
.pricelist_wrap {
	position: relative;
}
.pricelist_grid  {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 50;
	pointer-events: none;
}
.title_block_count_light{
	width: 200px;
	margin:0px 10px;
	text-align: center;
}
.title_block_count_norm{
	width: 200px;
	margin:0px 10px;
	text-align: center;
}
.title_block_count_full{
	width: 200px;
	margin:0px 10px;
	text-align: center;
}
.title_block_tit {
	/*width: 400px;*/

}

#pricelist .title_block {
	display: flex;
	justify-content: space-between;
}

.title_block_tit {
	padding-left: 55px;
}

.info_punk_wrap {
	display: flex;
	justify-content: space-between;
}

.info_punk_chek_light {
	width: 200px;
	margin:0px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.info_punk_chek_norm {
	width: 200px;
	margin:0px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.info_punk_chek_full {
	width: 200px;
	margin:0px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.info_punk_wrap {
	border-bottom:1px solid #f0f0f0;
	padding: 10px 0px;
}
.info_punk_titl {
font-size: 14px;
/*  font-family: 'SFUIDisplay-Light'; 
  font-family: 'SFUIDisplay-Medium';*/
   font-family: 'Roboto-Medium'; 

  color: #3e3e3e;
  padding-left: 10px;
}
.pricelist_grid_fiest_titl {
	height: 50px;
}	

.pricelist_grid_fiest_titl {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 15px;
	font-family: 'SFUIDisplay-Heavy'; 
	  text-transform: uppercase;
}

.pricelist_grid_fiest .pricelist_grid_fiest_titl {

	background: #b7b4b5;
}

.pricelist_grid_second .pricelist_grid_fiest_titl {

	background: #ffc800;
}

.pricelist_grid_therd .pricelist_grid_fiest_titl {

	background: #000;
}
.price_pricelist_grid_wrapper {
	width: 100%;
}

.pricelist_grid_fiest_titl_price {
	background:#fff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 0px;
	color: #3e3e3e;
	font-size: 20px;
	font-family: 'SFUIDisplay-Medium';
}

.title_block_tit {
	font-size: 15px;
	font-family: 'SFUIDisplay-Semibold';  
	text-transform: uppercase;
	color: #000;
}

.title_block_count_light {
	font-size: 15px;
	font-family: 'SFUIDisplay-Medium';
	color: #9e9c9d;
}


.title_block_count_norm {
	font-size: 15px;
	font-family: 'SFUIDisplay-Medium';
	color: #ffc800;
}

.title_block_count_full {
	font-size: 15px;
	font-family: 'SFUIDisplay-Medium';
	color: #000;
}

.pricelist_grid_fiest_btn {
	width: 165px;
	height: 48px;
	font-size: 16px;
	font-family: 'SFUIDisplay-Semibold';   
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	pointer-events: auto !important;
	transition: .2s;
}
.pricelist_grid_fiest_btn:hover {
			-webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
cursor: pointer;
}

.pricelist_grid_therd .pricelist_grid_fiest_btn {
		background: #fff;
		border:1px solid #373737;
}

.pricelist_grid_second .pricelist_grid_fiest_btn {
		background: #ffc800;
		border:1px solid #ffc800;
}

.pricelist_grid_fiest .pricelist_grid_fiest_btn {
		background: #fff;
		border:1px solid #b7b4b5;
}
.price_pricelist_grid_wrapper sup {
	font-size: 14px;
}
#pricelist {
	background: #f9f9f9;
}
.pricelist_wrap {
	background: #fff;
}

.pricen_wrap_main {
	padding: 20px 0px;
	background: #fff;
	margin-left: 20px;
	margin-top: 50px;
		-webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.1);
transition: .2s;
}
.pricen_wrap_main:hover {
	-webkit-box-shadow: 0px 15px 20px 0px rgba(0,0,0,0.15);
-moz-box-shadow: 0px 15px 20px 0px rgba(0,0,0,0.15);
box-shadow: 0px 15px 20px 0px rgba(0,0,0,0.15);
}
#pricelist .accordion .title_block::after{
    content: '';
    height: 16px;
    width: 16px;
    display: block;
    border: 1px solid #ff9500;
border-radius: 50px;
    position: absolute;
    right: 100%;
    top: 13px;
    margin-right: -34px;
 
}

#pricelist .main_titl {
	position: relative;
	z-index: 5;
}

#pricelist .main_titl h2{
	position: relative;
	z-index: 5;
}
.pricelist_home {
	position: absolute;
	top: -190px;
	left: -45px;
	z-index: 2;
}
.header_btn {
	width: 160px;
	height: 30px;
	background: #ffc800;
	color: #000;
	font-size: 12px;
	text-transform: uppercase;
	font-family: 'SFUIDisplay-Bold';
	display: flex;
	justify-content: center;
	align-items: center; 
	transition: .2s; 
	color: #3e3e3e;
	    font-family: 'SFUIDisplay-Medium';
	     /*font-family: 'SFUIDisplay-Semibold'; */
}
.header_btn:hover {
		-webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
cursor: pointer;  
}

.header_menu a {
	font-size: 12px;
	text-transform: uppercase;
	font-family: 'SFUIDisplay-Semibold'; 
	transition: .2s;
}
.header_menu a:hover {
   color: #ffc800;
}
.header_menu {
	justify-content: space-between;
	width: 100%;
}
.header_menu ul {
	 justify-content: space-between;
	 padding-right: 25px;
}
.header_menu_wrap {
	padding: 0px 70px;
}
.current_page_item {
	position: relative;
}
.current_page_item:after {
	position: absolute;
	width: 10px;
	height: 13px;
	background: #ffc800;
	content: "";
	top: 100%;
	left: 50%;
	margin-left: -5px;
}
.header_social  {
	width: 32px;
	height: 32px;
	background: yellow;
	margin:0px 7px;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
		-webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
transition: .2s;
}
.header_social_wrap {
	display:flex;
}
.header_social i {
font-size: 20px;
color: #fff;
}
.header_social:hover  {
	background: #fff;
}

.header_social_watsap {
	background: #7ccc8f;
	border:1px solid #7ccc8f ;
}

.header_social_watsap:hover i  {
	color: #7ccc8f;
}

.header_social_telegram {
	background: #5bc1df;
	border:1px solid #5bc1df ;
}

.header_social_telegram:hover i  {
	color: #5bc1df;
}

.header_social_viber {
	background: #846db1;
	border:1px solid #846db1 ;
}

.header_social_viber:hover i  {
	color: #846db1;
}
.header_social a {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header_mail .footer_mail {
	margin-top: 0px;
}
.header_mail {
	height: 100%;
	display: flex;
	align-items: center;
}
.header_mail .footer_mail a {
	font-size: 16px;
	 font-family: 'SFUIDisplay-regular';  
	 transition: .3s;
	 font-family: 'SFUIDisplay-Bold';
}
.header_mail .footer_mail a:hover {
	color: #846db1;
 
}
#header {
			-webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.1);
box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.1);
/*padding: 10px 0px;*/
padding-top: 1px;
}
.header_logo_ikon img {
	width: 85px;
}
.header_logo_text {
width: 190px;
font-size: 14px;
/*text-transform: uppercase;*/
font-family: 'SFUIDisplay-regular'; 
margin-left: 10px;
 color: #4e4e4e;
}

.header_phone_text {
	font-size: 13px;
	  font-family: 'SFUIDisplay-regular';  
	  color: #5f5f5f;
}
.header_phone {

	text-align: center;
}
.header_logo_wrap {
	justify-content: space-between;
}
.header_logo {
	width: 285px;
}
.header_phone {
	width: 100%;
}
.header_info {
	/*margin:20px 0px;*/
	margin-top: 10px;
	/*margin-bottom: 5px;*/
}
.header_phone a {
	font-size: 18px ;
	  font-family: 'SFUIDisplay-Bold'; 
	color: #ffc800;
	color: #000;
	transition: .2s;
}
.header_phone a:hover {
	color: #ffc800;
}

.offer_desc_titl h1 {
	font-size: 62px ;
	 font-family: 'Roboto-Bold'; 
	  /*font-family: 'Roboto-BoldCondensed';*/
	 color: #4e4e4e;
	 text-transform: uppercase;
	 width: 300px;
text-shadow: 0px 2px 3px rgba(0, 0, 0, .2);
-webkit-text-shadow: 0px 2px 3px rgba(0, 0, 0, .2);
-moz-text-shadow: 0px 2px 3px rgba(0, 0, 0, .2);
}
.offer_desc_titl span {
	 color: #ffc801;
}
#offer {
	padding-top: 0px !important;
}
.offer_desc_titl {
	margin-top: 70px;
}
.offer_desc_text h3 {
	font-size: 25px;
	  font-family: 'Roboto-Medium'; 
	  text-transform: uppercase;
	  width: 550px;
	  margin-top: 30px;
	  margin-bottom: 70px;
}

.offer_punkt_ikon {
	color: #ffc800;
}
.offer_punkt_text {
font-family: 'SFUIText-Medium';
font-size: 20px;
margin-left: 10px;
}
.offer_punkt_ikon i {
	font-size: 19px;
}
.off_punkt_wrap_left {
	margin-left: 25px;
}
.offer_desc_punkti {
	position: relative;
	display: inline-block;
}

.offer_desc_punkti:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 3px;
	left: 0px;
	top: 0px;
	background: #ffc800;
	margin-top: -35px;
}

/*оффер форма*/


.offer_form_wrap {
	width: 90%;
	/*border:1px solid red;*/
	padding: 25px 35px;
	background: #fff;
	-webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.1);
box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.1);
transition: .2s;
}
.offer_form_wrap:hover {
	-webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.15);
-moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.15);
box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.15);
}
.offer_form_titl {
	  font-family: 'Roboto-Bold'; 
	  font-size: 20px;
	  color: #2e2d2d;
	  text-align: center;
}

.offer_btn {
	width: 290px;
	height: 48px;
	background: #fed02a;
	border:none;
	font-size: 16px;
	font-family: 'SFUIDisplay-Medium';
	transition: .2s;
}
.offer_btn:hover {
			-webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
cursor: pointer;
}

.offer_form input {
	font-size: 16px;
	  font-family: 'SFUIDisplay-Medium';
	 width: 290px;
	 height: 48px;
	 background: #ececec;
	 display: flex;
	 justify-content: center;
	 align-items:center; 
	 color: #3e3e3e !important;
	 border:none;
	 /*margin-top: 30px;*/
	 padding-left: 15px;
	 transition: .2s;

}
.offer_form input:hover {
	
	-webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);

}

.offer_form {
	display: flex;
	justify-content: space-around;
}

.offer_form_titl {
	margin-bottom: 30px;
}

.offer_foto_wrap {
	position: relative;
	top: 20px;
}

.header_mail {
	position: relative;
	top: -10px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  transition: .2s;
  background: rgba(255,255,255,.95) !important;
}


.header_menu {
  transition: .2s;
/*background: #fff;*/
z-index: 200;
}
#header_menu {
	padding: 10px 0px;
}

.step {
	position: relative;
}
.step_fig {
	position: absolute;
	left: 50%;
	top: 30px;
	margin-left: -60px;
z-index: 100;
}

#step {
	overflow: hidden;
}

/*стили модальное окно меню*/


.modal_form_wrap {
	width: 365px;
	background: #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin:0 auto;
		/*border:1px solid red;*/
		padding: 30px 35px;
}

.box-modal {
    position: relative;
    width: 400px;
    /*padding: 16px;*/
    background: #fff;
    color: #bbb;
    font: 14px/18px Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
    box-shadow: 0 0 0 6px rgba(153, 153, 153, .3);
    border-radius: 6px;
}
.modal_form input {
	display: block;
	width: 100%;
	height: 45px;
	font-size: 16px;
	  font-family: 'SFUIDisplay-Medium';
	 background: #ececec;
	 display: flex;
	 justify-content: center;
	 align-items:center; 
	 color: #3e3e3e !important;
	 border:none;
	 padding-left: 15px;
	 transition: .2s; 
	 margin-top: 20px;
}
.modal_form {
	width: 100%;
}


.modal_form input:hover {
	
	-webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);

}
.modal_form_wrap_titl {
	font-size: 20px;
	font-family: 'SFUIDisplay-Medium';
	color: #373737;
	text-align: center;
	line-height: 25px;
	margin-bottom: 10px;
}

.box-modal_close {
    position: absolute;
    right: 10px;
    top: 6px;
    font-size: 31px;
    line-height: 15px;
    color: #000;
    cursor: pointer;
}
.modal_form .b-stule{
	margin-top: 25px;
}


input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked), 
input[type="radio"]:checked, 
input[type="radio"]:not(:checked) 
{
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label, 
input[type="radio"]:checked + label, 
input[type="radio"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    line-height: 20px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before,
input[type="radio"]:checked + label:before, 
input[type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #000;
    background-color: #ffffff;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px;
}

input[type="radio"]:checked + label:before, 
input[type="radio"]:not(:checked) + label:before {
    border-radius: 100%;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after, 
input[type="radio"]:checked + label:after, 
input[type="radio"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #e145a3;
    border-bottom: 4px solid #e145a3;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="radio"]:checked + label:after, 
input[type="radio"]:not(:checked) + label:after {
    left: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #e145a3;
}

input[type="checkbox"]:not(:checked) + label:after, 
input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after, 
input[type="radio"]:checked + label:after {
    opacity: 1;
}


input[type="checkbox"]:checked + label::after, input[type="checkbox"]:not(:checked) + label::after {
    left: 3px;
    top: 4px;
    width: 12px;
    height: 7px;
    border-radius: 1px;
    border-left: 2.5px solid #e145a3;
    border-bottom: 2.5px solid #e145a3;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.block_chek label {
	font-size: 12px;
	font-family: 'SFUIDisplay-Light';
}

.block_chek {
	margin-top: 20px;
	display: flex;
	justify-content: flex-end;
	padding-right: 20px;
}

/*карточки в табах*/


.card_pro_btn_text{
	font-size: 18px;
/*	font-family: 'SFUIDisplay-Bold'; 
	font-family: 'Roboto-Bold'; */
	font-family: 'Roboto-Medium';
	color: #3e3e3e;
}


.card_pro_btn_ikon {
	position: relative;
	top: -2px;
	margin-left: 5px;
}
.card_pro {
	/*border:1px solid red;*/
	width: 355px;
	margin:15px 0px;
	height: 445px;
}

.card_pro_foto img {
	height: 335px;
	display: block;
	/*overflow: hidden;*/
}

.card_pro_foto  {
	overflow: hidden;
}
.card_pro_foto {
	display: flex;
	justify-content: center;
}

.card_pro_text {
 font-family: 'SFUIDisplay-Semibold'; 
 font-size: 20px;
 color: #3e3e3e;
}

.card_pro_text {
	justify-content: space-around;
}

.card_pro_btn {
text-align: center;
display: inline-block;
}

.card_pro_btn_text {
	display: inline-block;
}
.card_pro_btn_ikon {
	display: inline-block;
}
.card_pro_btn_wrap {
	display: flex;
	justify-content: center;
}
.card_pro_text {
	margin-top: 15px;
	margin-bottom: 10px;
}
.card_pro_btn_wrap {
	margin-bottom: 25px;
}

.card_pro_text {
	position: relative;
}
.card_pro_text:after {
	position: absolute;
	content: "";
	width: 2px;
	height: 26px;
	background: #e9e9e9;
	left: 50%;
	margin-left: -1px;
	top: 50%;
	margin-top: -13px;
}
.wrap_pro a {
	display: inline-block;
}



.card_pro {

	-webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.2);
box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.2);
transition: .2s;
border-radius: 5px;
overflow: hidden;
}
.card_pro:hover {
	-webkit-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.3);
box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.3);
}

.card_pro_btn {
	position: relative;
}
.card_pro_btn:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 2px;
	background: #ffc800;
	top: 100%;
	left: 50%;
	margin-left: -62.6px;
}

.card_pro:hover .card_pro_btn:after  {
background: red;
transition: .2s;
}

.wrap_pro {
	justify-content: space-around;
	flex-wrap: wrap;
}
.card_pro_last {
	font-size: 18px;
	font-family: 'SFUIDisplay-Bold';   
	color: #525252;
	text-align: center;

}

.card_pro_last {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.card_pro_last_point {
	margin-top: 10px;
}
.card_pro_last_text {
	position: relative;
}
.card_pro_last_text:after {
	position: absolute;
	content: '';
	background: #ffc800;
	width: 100%;
	height: 2px;
	left: 0px;
	top: 100%;
	margin-top: 6px;
}

.card_pro_last:hover .card_pro_last_text:after {
	background: red;
}

.card_pro_last {
	transition: .3s;
}


/*табы*/

.our_progect_wrap section {
	/*border:1px solid red;*/
}

.tabs nav a {
    color: #000;
    display: block;
    font-size: 13px;
    /*line-height: 2.5;*/
    text-transform: uppercase;
     font-family: 'SFUIDisplay-regular'; 
      font-family: 'Roboto-Medium';
    padding: 0 .5em;
    white-space: nowrap;
    /*background: #ececec;*/
}

.block_chek {
	/*display: none;*/
}
.hidd {
	overflow: hidden;
}

#our_progect .offer_form_wrap {

    margin-bottom: 20px;
}
#our_progect .label_section {
margin-top: -178px;
}

.confi {
font-size: 12px;
    font-family: 'SFUIDisplay-Light';
}
.confed_wrap_titl {
	color: #34a055;
	font-size: 14px;
	 font-family: 'SFUIDisplay-Light';
	 padding-bottom: 15px;
}

#exampleModal5 {
    position: relative;
    width: 658px;
}

.confed_wrap_text p {
	margin-top: 15px;
}

.confed_wrap_text {
	height: 300px;
	overflow-x: hidden;
    overflow-y: auto;
}
.header_logo_text {
	font-size: 15px;
    font-family: 'SFUIDisplay-Semibold';
}
.header_logo_text2 {
		font-size: 14px;
   font-family: 'SFUIDisplay-regular'; 

}

#back-top {
    position: fixed;
    display: none;
    background: rgba(255,255,255,.9);
    z-index: 400;
    width: 100%;
  /*  -webkit-box-shadow: inset 0px -2px 5px 0px rgba(0,0,0,0.1);
-moz-box-shadow: inset 0px -2px 5px 0px rgba(0,0,0,0.1);
box-shadow: inset 0px -2px 5px 0px rgba(0,0,0,0.1);*/

-webkit-box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.2);
box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.2);
}

.confi {
	cursor: pointer;
}

#footer {
	overflow: hidden;
}

.header_mail_wrap {
	display: flex;
	justify-content: space-around;
	width: 100%;
}




/*иконка бургера*/




/*иконка бургера*/
/* button starting stylings ------------------------------- */
.toggle-hamburger {
  background-color: rgba(255,255,255,0);
  color: #ccc;
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 96px;
  height: 96px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  box-shadow: none;
  border: none;
  border-radius: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  transform: scale(.7);
}
.toggle-hamburger:focus {
  outline: none;
}

/* inner span stylings ------------------------------- */
.toggle-hamburger span {
  display: block;
  position: absolute;
  top: 44px;
  left: 18px;
  right: 18px;
  height: 8px;
  background: #000;
}
.toggle-hamburger span::before, .toggle-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #000;
  content: "";
}
.toggle-hamburger span::before {
  top: -20px;
}
.toggle-hamburger span::after {
  bottom: -20px;
}

.toggle-hamburger.toggle-hamburger__animx span {
  -webkit-transition: background 0s 0.3s;
  transition: background 0s 0.3s;
}
.toggle-hamburger.toggle-hamburger__animx span::before, .toggle-hamburger.toggle-hamburger__animx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
          transition-delay: 0.3s, 0s;
}
.toggle-hamburger.toggle-hamburger__animx span::before {
  -webkit-transition-property: top, transform;
  transition-property: top, transform;
}
.toggle-hamburger.toggle-hamburger__animx span::after {
  -webkit-transition-property: bottom, transform;
  transition-property: bottom, transform;
}

/* when menu open: */
.toggle-hamburger.toggle-hamburger__animx.is-active span {
  background: none;
}
.toggle-hamburger.toggle-hamburger__animx.is-active span::before, .toggle-hamburger.toggle-hamburger__animx.is-active span::after {
  background-color: red;
  -webkit-transition-delay: 0s, 0.3s;
          transition-delay: 0s, 0.3s;
}
.toggle-hamburger.toggle-hamburger__animx.is-active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.toggle-hamburger.toggle-hamburger__animx.is-active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}



.brger_menu {
    background: rgba(0,0,0,.7);
    position: fixed;
    top: 0px;
    left: 0px;
    transition: .5s;
    z-index: 600;
    width: 300px;
    margin-left: -300px;
    /*display: none;*/
    height: 100%;
}

.brger_menu a {
color: #fff;
font-size: 15px;
text-transform: uppercase;
font-family: 'SFUIDisplay-Semibold';
}
.brger_menu li {
text-align: center;
padding: 14px 0px;
transition: .2s;
}
.brger_menu li:hover {
background: #000;
}
.brger_menu li a {
padding: 14px 0px;
}
.vis {
    margin-left: 0px;
}
.brger_menu ul {
	
}

.burger_test {
    position: fixed;
    top: 40px;
    left: -28px;
    z-index: 700;
    /*display: none;*/
}



.toggle-hamburger {
transform: scale(.6);
 }

.toggle-hamburger span::before {
    top: -17px;
}
.toggle-hamburger span::after {
    bottom: -17px;
}
.toggle-hamburger {

    height: 80px;
}


.burger_test {
    top: -20px;
}

.tabs ul li {
	margin: 5px !important;
}

.burger_test {
   display: none;
}

.brger_menu {
	display: none;
}

#offer {
	overflow: hidden;
}


/*#tabs ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}*/













.text {
  max-width: 700px;
  margin: 0 0 30px;
  background: #FFF;
  border: 2px solid #7DCA86;
  border-radius: 5px;
  padding: 7px 15px;
  box-sizing: border-box;
}


.tabs__caption {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  position: relative;
  margin: -1px 0 0 -1px;
}
.tabs__caption li:last-child:before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  right: -2px;
  z-index: -1;
  height: 5px;
  background: #7DCA86;
}
.tabs__caption:after {
  content: '';
  display: table;
  clear: both;
}
.tabs__caption li {
  padding: 9px 15px;
  margin: 1px 0 0 1px;
  background: #61AF6A;
  color: #FFF;
  position: relative;
  border: solid #61AF6A;
  border-width: 2px 2px 0;
  border-radius: 5px 5px 0 0;
  text-align: center;
}
.tabs__caption li:not(.active) {
  cursor: pointer;
}
.tabs__caption li:not(.active):hover {
  background: #7DCA86;
  border-color: #7DCA86;
}
.tabs__caption .active {
  background: #FFF;
  color: #000;
  border-color: #7DCA86;
}
.tabs__caption .active:after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 5px;
  background: #FFF;
}
.tabs__content {
  display: none;
  background: #FFF;
  border: 2px solid #7DCA86;
  border-radius: 0 5px 5px 5px;
  padding: 7px 15px;
}
.tabs__content.active {
  display: block;
}

.vertical .tabs__caption {
  float: left;
  display: block;
}
.vertical .tabs__caption li {
  float: none;
  border-width: 2px 0 2px 2px;
  border-radius: 5px 0 0 5px;
}
.vertical .tabs__caption li:last-child:before {
  display: none;
}
.vertical .tabs__caption .active:after {
  left: auto;
  top: 0;
  right: -2px;
  bottom: 0;
  width: 2px;
  height: auto;
}
.vertical .tabs__content {
  overflow: hidden;
}

@media screen and (max-width: 650px) {
  .tabs__caption li {
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }
  .vertical .tabs__caption {
    float: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .vertical .tabs__caption li {
    border-width: 2px 2px 0;
    border-radius: 5px 5px 0 0;
  }
  .vertical .tabs__caption li:last-child:before {
    display: block;
  }
  .vertical .tabs__caption .active:after {
    top: auto;
    bottom: -5px;
    left: 0;
    right: 0;
    width: auto;
    height: 5px;
    background: #FFF;
  }
}






















/* стили блока аккордеон */
#pricelist2 .accordion {
  width:100%;
  /*max-width: 600px; */
  margin: 0 auto
}
/* секции аккордеона */
#pricelist2 .accordion .accordion_item {
  /*margin-bottom:1px;*/
  /*border-bottom:1px solid red;*/
  position:relative
}
/* заголовки панелей аккордеона */
#pricelist2 .accordion .title_block {
  font-weight: 400;
  font-size: 18px;
  color: #eee;
  cursor:pointer;
  background: #fff;
  padding:10px 0px 10px 0px;
  -webkit-transition:all .2s linear 0;
  -webkit-transition-delay:.2s 0;
  transition:all .2s linear 0
}
/* переключатель панелей, положение вниз */
#pricelist2 .accordion .title_block:before {
  content:'';
  height:8px;
  width:8px;
  display:block;
  border:2px solid #000;
  border-right-width:0;
  border-top-width:0;
  -ms-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  transform:rotate(-45deg);
  position:absolute;
  right: 100%;
  top:16px;
  margin-right:-30px;
}
/* активный переключатель, положение вверх */
#pricelist2 .accordion .active_block .title_block:before {
  border-left-width:0;
  border-bottom-width:0;
  top:18px;
  border:2px solid #000;
    border-right-width:0;
  border-top-width:0;
  -ms-transform:rotate(135deg);
  -webkit-transform:rotate(135deg);
  transform:rotate(135deg);
}
#pricelist2 .accordion .title_block:hover {
  background: #f8f8f8;  
}

/* заголовок активного блока  */
#pricelist2 .accordion .active_block .title_block {
  background: #f8f8f8;
  color:#fefefe
}
/* блоки с содержанием */
#pricelist2 .accordion .info {
  display:none;
  padding:0px 0px;
  overflow: hidden;
  background:#fff;
  margin:0px 0px;
}
/* параграф внутри блоков с содержанием */
#pricelist2 .accordion .info_item {
  margin-bottom:10px
}
/* картинки внутри аккордеона */
#pricelist2 .accordion .info img {
    height: auto;
    /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);*/
}
/* полноразмерная картинка */
#pricelist2 .large-img {
    width: 100%;
    margin-bottom: 10px;
}
/* миниатюра слева */
#pricelist2 .img-left {
    width: 25%;
    float:left;
    margin:5px 15px 5px 0;
}
/* миниатюра справа */
#pricelist2 .img-right {
    width: 25%;
    float:right;
    margin:5px 0 5px 15px;
}


#pricelist2 {
	padding-bottom: 100px;
}



/*страница о нас*/



 .leftimg {
    float: right; /* Выравнивание по правому краю  */ 
    margin: 7px; /* Отступы вокруг картинки */
    /*width: 100%;*/
   }
 .rightimg  {
    float: left; /* Выравнивание по правому краю  */ 
    margin: 7px 17px 7px 0px; /* Отступы вокруг картинки */
   }


.reviews_card {
	width: 270px;
	height: 370px;
	/*border:1px solid red;*/
	padding: 5px;
	background: url(../img/frame.png) no-repeat center center/cover;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);
box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);
transition: .3s;
}
.reviews_card:hover {
-webkit-box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.3);
box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.3);
}
.reviews_card img {
	width: 100%;
	height: 100%;
}

.reviews_card {
	position: relative;
	margin: 7px 0px;
}
.reviews_card:hover .reviews_zoom {
	opacity: 1;
	transition: .3s;
	/*cursor: pointer;*/

}	
.reviews_zoom {
position: absolute;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
z-index: 100;
top: 0px;
left: 0px;
background: rgba(255,210,45,.7);
opacity: 0;
pointer-events: none;
}

.reviews_zoom i{
	font-size: 22px;
}

.reviews_wrap {
justify-content: space-around;
/*padding-left: 13px;*/
}


.biprogect_about .biprogect_book {
    position: absolute;
    top: 160px;
    left: 50%;
    margin-left: -648px;
}


.reviews_send_titl h2 {
	font-size: 37px;
	margin-bottom: 30px;
}


.reviews_send .offer_form_wrap {
    width: 100%;
}


.reviews_send_desk_text {
	font-size: 20px;
	  font-family: 'Roboto-Medium';
	  text-transform: uppercase;
	  width: 310px;
}


.reviews_send_desk_foto_mail {
	font-size: 28px;
	font-family: 'SFUIDisplay-Medium';
	/*background: url(../img/envelop.png) no-repeat top center;*/
}

.reviews_send_desk_foto_mail_wrap {
position: relative;
}

.reviews_send_desk_foto_mail_img {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
	margin-top:8px; 
	margin-left: 18px; 
}

.reviews_send_desk_foto_mail {
	position: relative;
	z-index: 5;
	text-align: center;
}

.reviews_send_desk_foto_mail_wrap {
	width: 500px;
}

.reviews_send span {
	border-bottom:2px solid #ffc800;
}

.reviews_send {
	margin-top: 100px;
}

.reviews_wrap {
	margin-top: 50px;
}

.about_card p {
	font-size: 18px;
	 font-family: 'SFUIDisplay-regular';  
	 color: #5f5f5f;
}


.about_card {
	margin-top: 40px;
}


.reviews_wrap {
	flex-wrap: wrap;
}

.biprogect_about {
	background: #fff !important;
}

#reviews {
	padding-top: 40px !important;
}

.about_content {
	padding-left: 20px;
}

.our_progect_bilding {
	padding-bottom: 0px !important;
}

.content section {
    padding: 0em 0em;
}


.our_progect_bilding .tabs {

    margin: 0em 0 0em;

}

.our_progect_bilding .our_progect_wrap {
	margin-top: 30px;
}

#about {
	padding-top: 60px !important;
	padding-bottom: 60px !important;
}

.our_progect_bilding {
padding-top: 60px !important;
	padding-bottom: 60px !important;
}

.wrap_pro {
	margin-bottom: 20px;
}






























/*адаптив*/
@media screen and (max-width: 1140px) {
.offer_foto_wrap {
    position: relative;
    top: 20px;
    left: 100%;
    margin-left: -550px;
}
.step_fig {
    margin-left: 24px;
     }
     .card_pro{
	margin:10px; 
     }
}

@media screen and (max-width: 1100px) {
	.footer_text_pesonal {
    font-size: 14px;
}
.offer_desc_text h3 {
    width: 399px;
}
.offer_form input {
    font-size: 16px;
    font-family: 'SFUIDisplay-Medium';
    width: 250px;
}
.offer_btn {
    width: 250px;
    height: 48px;
}
.pricelist_grid_fiest ,.pricelist_grid_second,.pricelist_grid_therd {
    width: 155px;
    margin: 0px 5px;
}
.title_block_count_full,.title_block_count_norm,.title_block_count_light {
    width: 155px;
    margin: 0px 5px;
}
.pricelist_grid_fiest_btn {
    width: 135px;
    font-size: 15px;
}
.info_punk_chek_norm, .info_punk_chek_full,.info_punk_chek_light {
    width: 155px;
    margin: 0px 5px;
}
.our_progect_bilding h2 {
	font-size: 44px;
}
}

@media screen and (max-width: 1050px) {
h2 {
    font-size: 41px;
}
.header_mail_wrap {
	flex-direction: column;
	align-items: center;
}
.header_phone {
	flex-direction: column;
}
}
@media screen and (max-width: 992px) {
#question .question_wrap {
    padding-left: 20px;
}
.offer_form_wrap {
   padding: 25px 11px;
}
 .step_card_right_upd::after {
    left: 0px;
    margin-left: 10px;  
}
.step_fig {
    margin-left: 138px;
}
.main_titl {
	text-align: center;
}
.main_titl_desc_w {
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}
h2::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    top: 100%;
    left: 50%;
    margin-top: 10px;
    margin-left: -50px;

}
.header_menu_wrap {
    padding: 0px 0px;
}
.header_btn {
    width: 136px;
    height: 30px;
    background: #ffc800;
    color: #000;
    font-size: 11px;
    }
    section {
    padding-top: 60px;
    padding-bottom: 60px;
}
.reviews_send_desk {
	flex-direction: column;
	align-items: center;
}
.reviews_send .offer_form_wrap {
    width: 80%;
    margin:0 auto;
    padding: 25px 20px;
}

.reviews_send_desk_foto_mail_wrap {
	margin-top: 20px;
}
.reviews_send_desk_text {
    text-align: center;
}
.rightimg {
   display: block;
   width: 100%;
    margin: 7px 17px 7px 0px;
}
.leftimg {
     display: block;
   width: 100% !important;
    margin: 7px 17px 7px 0px;
}
}
@media screen and (max-width: 920px) {
	#question .question_wrap {
    padding-left: 20px;
}
#question .title_block_text {
    width: 100%;
}
#question .accordion .title_block {
    padding: 40px 209px 40px 0px;
}
.offer_foto_wrap {

    margin-left: -413px;
}
.offer_form {
    flex-direction: column;
    align-items: center;
}
.offer_form input {
    margin-top: 15px;
    width: 100%;
}
.offer_btn {
   margin-top: 15px;
   width: 100%;
}
.offer_form_wrap {
    width: 500px;
    }
    .offer_form_wrap {
    padding: 25px 85px;
}
.block_chek {

    justify-content: center;

}
}
@media screen and (max-width: 850px) {
	.footer_text_pesonal {
    font-size: 13px;
}
#pricelist .accordion .title_block::before {
    margin-right: -20px;
}
#pricelist .accordion .title_block::after {
    margin-right: -24.4px;
}
.title_block_tit {
    padding-left: 35px;
}
.title_block::after {
    top: 12.5px;
}
.card_pro {

margin:10px;

}
}
@media screen and (max-width: 768px) {
.footer_mail {
	text-align: center;
}
.footer_wrap_reserved {
	margin-top: 15px;
}
.footer_adr_wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
.footer_text_adr {

    display:block;
}
.footer_phone_wrap {
	margin-top: 15px;
}
.footer_text_adr {
   font-size: 16px;
}
.header_logo_text {
    width: 157px;
    font-size: 14px;
 }
 .info_wrap {
 	flex-direction: column;
 	align-items: center;
 }
 #question .accordion .title_block::before {
    content: 'Открыть';
    width: 95px;
}
#question .accordion .title_block {
    padding: 40px 128px 40px 0px;
}
#question .title_block_question {
    height: 46px;
}
#question .accordion .title_block {
    padding: 15px 128px 15px 0px;
}
#question .accordion .title_block::before {
    top: 14.5px;
    }
    .offer_desc_titl h1 {
    width: 100%;
    text-align: center;
}
.offer_desc_text h3 {
    width: 100%;
    text-align: center;
    padding: 0px 65px;
}
.offer_desc_punkti {
	display: block;
	margin: 0 auto;
}

.offer_desc_punkti {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.offer_desc_punkti::after {
    width: 100px;
    left: 50%;
    margin-left: -50px;
}
.offer_desc_titl h1 {
    font-size: 56px;
}
.offer_desc_text h3 {
    font-size: 22px;
    }
    .offer_foto_wrap {
    	display: none;
    }
.offer_form_titl {
    margin-bottom: 0px;
}
#exampleModal5 {
    position: relative;
    width: 100%;
}
.step_wrap_r {
    justify-content: center;
}
.step_wrap_right {
    padding-right: 0px;
}
.step_card_right_upd::after {
  display: none;
    }
    .step_fig {
  display: none;
}
h2 {
    font-size: 36px;
}
.offer_desc_punkti {
	margin-bottom: 30px;
}
.biprogect_wrap {
    display: flex;
    justify-content: center;
    padding-right: 0px;
}
#question .question_fig {
    font-size: 254px;
    font-family: 'Roboto-Medium';
    color: #fff;
    position: absolute;
    top: -180px;
    left: 50%;
    margin-left: -60px;
    pointer-events: none;
    }
    .footer_text_adr {
    	text-align: center;
    }
    .header_menu_wrap {
	/*display: none;*/
    }
    #back-top {
    /*display: none !important;*/
}
.header_logo_wrap {
flex-direction: column;
}
.header_logo {
    display: flex;
    justify-content: center;
}
.header_mail_wrap {
	margin-top: 20px;
}
.header_logo {
	margin-bottom: 15px;
}
section {
    padding-top: 45px;
    padding-bottom: 45px;
}
.biprogect_form {
    margin-top: 40px;
}
.pricelist_home {
transform: scale(.7);

}
.pricelist_home {
    top: -173px;
    transform: scale(0.6);
    left: -85px;
}





.pricelist_grid_fiest ,.pricelist_grid_second,.pricelist_grid_therd {
    width: 120px;
    margin: 0px 2px;
}
.title_block_count_full,.title_block_count_norm,.title_block_count_light {
    width: 120px;
    margin: 0px 2px;
}
.pricelist_grid_fiest_btn {
    width: 110px;
    font-size: 13px;
}
.info_punk_chek_norm, .info_punk_chek_full,.info_punk_chek_light {
    width: 120px;
    margin: 0px 2px;
}
.title_block_tit {
    font-size: 13px;
}
#pricelist .accordion .title_block::before {


    height: 7px;
    width: 7px;
    }

    .header_menu {	
/*     display: none;*/
 }
 .header_btn {
 	/*display: block !important;*/
 }
 .header_menu ul {
    display: none;
}
.header_btn {
    width: 175px;
}
#back-top .header_menu_wrap {
display: flex !important;
}
#header_menu .header_menu_wrap {
display: none;
}
.burger_test {
 display: block;
}

.brger_menu {
	display: block;
}
.offer_form_wrap {
	overflow: hidden;
}
.reviews_send_desk_text {
    font-size: 17px;
}
.reviews_send_titl h2 {
    font-size: 30px;
}
}
@media screen and (max-width: 620px) {
	.offer_form_wrap {
    width: 450px;
}
.offer_form_wrap {
    padding: 25px 40px;
}
.title_block_count_light span,.title_block_count_norm span,.title_block_count_full span {
	display: none;
}
.pricelist_grid_fiest_titl {
    font-size: 12px;
}
.pricelist_grid_fiest ,.pricelist_grid_second,.pricelist_grid_therd,.title_block_count_full,.title_block_count_norm,.title_block_count_light,.info_punk_chek_norm, .info_punk_chek_full,.info_punk_chek_light {
    width: 80px;
    margin: 0px 2px;
}

.pricelist_grid_fiest_btn {
    width: 70px;
    font-size: 13px;
    text-align: center;
}
.pricelist_grid_fiest_titl_price {
    font-size: 16px;
}
.info_punk_wrap {
	flex-direction: column;
}
.info_punk_titl {
	text-align: center;
	margin-bottom: 20px;
}
}
@media screen and (max-width: 576px) {
.title_block {
	flex-direction: column;
}
#question .accordion .title_block::before {
    right: 0px;
    }
    #question .accordion .title_block {
    padding: 0px 0px 15px 0px;
}
.title_block_question {
	margin-bottom: 10px;
}
#question .accordion .title_block::before {
    content: 'Открыть';
    height: 29px;
    }
    .offer_desc_titl h1 {
    font-size: 46px;
}
.label_section {
    display: none;
}
#question .question_wrap {
    padding-left: 0px;
}
.step_card_right_upd {
    margin-left: 0px;
}
.step_wrap_r {
	flex-direction: column;
	align-items: center;
}
.step_card_right_upd::before {
   display: none;
}
.step_card_number {
	margin-top: 80px;
}
.num_car_left {
    left: 0px !important;
}
.step_card_number p {

    top: 0px;
    left: 50%;
    margin-left: 0px;

}
.step_wrap_r {

    margin-bottom: 0px;

}
.step_card_number p {
width: 75px;
    top: 0px;
    left: 0px;
    margin-left: 0px;

}
.num_car_left {
	width: 75px;
    left: 0px;

}
.step_card_number {
	position: relative;
}
.step_card_number:after {
	position: absolute;
	content: "";
	background: #ffc800;
	left: 50%;
	margin-left: -1px;
	top: 100%;
	width: 2px;
	height: 50px;
	margin-top: 15px;
}
.step_wrap_row3 .step_card_number:last-child:after {
	display: none;
}
.step_wrap_row1 {
    margin-top: 0px;
}
h2 {

    font-size: 31px;

}
.pricen_wrap_main {
    margin-left: 0px;
 }
 .pricelist_grid_fiest_btn {
    width: 117px;
    font-size: 13px;
    text-align: center;
}
.pricelist_grid_fiest ,.pricelist_grid_second,.pricelist_grid_therd,.title_block_count_full,.title_block_count_norm,.title_block_count_light,.info_punk_chek_norm, .info_punk_chek_full,.info_punk_chek_light {
    width: 33.3%;
    margin: 0px 2px;
}
.title_block_tit {
	text-align: center;
	margin-bottom: 15px;
	padding-left: 0px;
	padding: 0px 25px;
}
.pricelist_grid_second {
    border: 0px solid #ff9500;

}
}
@media screen and (max-width: 500px) {
.modal_form_wrap {
    width: 100%;
}
.reviews_send .offer_form_wrap {
    width: 350px;
    margin: 0 auto;
    padding: 25px 10px;
}
.reviews_send_titl h2 {
    font-size: 26px;
}
.reviews_send_desk_text {
    font-size: 15px;
    width: 100%;
}
}
@media screen and (max-width: 450px) {
.offer_desc_titl h1 {
    font-size: 38px;
}
.offer_desc_text h3 {
    font-size: 20px;
    padding: 0px;
}
.offer_form_wrap {
    padding: 25px 15px;
}
.box-modal {
    width: 100% !important;
}
.modal_form_wrap {
    padding: 30px 0px;
}
.pricelist_home {
    top: -153px;
    transform: scale(0.4);
    left: -105px;
}
h2 {
    font-size: 28px;
}
.main_titl_desc {
	font-size: 19px;
}
section {
    padding-top: 30px;
    padding-bottom: 30px;
}
.biprogect_form {
    width: 365px;
    /*border: 1px solid red;*/
    padding: 28px 35px;
}
.biprogect_form_item input {
    margin-top: 12px;
}
.b-stule {
    margin-top: 12px;
 }
 #question .question_fig {
    font-size: 165px;
    top: -116px;
    left: 50%;
    margin-left: -38px;


}
.pricelist_grid_fiest_btn {
    width: 80px;
}
.toggle-hamburger {
    transform: scale(0.5);
}
.toggle-hamburger {
    height: 87px;
}
.burger_test {
    left: -31px;
}
}

@media screen and (max-width: 400px) {
#question .accordion .title_block::before {
    width: 80px;
}
#question .accordion .title_block::before {
    border: 0px solid #ff9400;
    }
    #question .title_block_question {
    height: 39px;
    width: 100px;
}
#question .title_block_text {
    color: #373737;
padding: 0px 10px;
    }
.offer_desc_text h3 {
    line-height: 24px;
}
.offer_desc_titl h1 {
    font-size: 32px;
}
.offer_desc_text h3 {
    font-size: 16px;
    padding: 0px;
}
.offer_desc_punkti_too {
	flex-direction: column;
	align-items: center;
}
.off_punkt_wrap_left {
    margin-left: 0px;
}
.offer_desc_punkti_too_upd {
flex-direction: row;
}
.offer_punkt_text {
    font-family: 'SFUIText-Medium';
    font-size: 18px;
    margin-left: 10px;
}
.card_pro {
    width: 290px;
    height: 320px;
}
.card_pro_foto img {
    height: 215px;

}
.card_pro {
    width: 290px;
}
.box-modal {

    padding: 16px 10px;
}
.modal_form_wrap_titl {

    font-size: 17px;
}
.modal_form input {
    margin-top: 10px;
    }
    .modal_form .b-stule {
    margin-top: 10px;

}
.footer_text_adr {
    font-size: 15px;
}
.main_titl_desc_w {

    width: 100%;

}
h2 {
    font-size: 26px;
}
.main_titl_desc {
    font-size: 17px;
}
.biprogect_form {
    padding: 28px 15px;
}
.confed_wrap_text {
	padding-right: 20px;
}
.reviews_send_titl h2 {
    font-size: 26px;
}
.reviews_send_desk_text {
    font-size: 15px;
}
.reviews_send .offer_form_wrap {
    width: 290px;
    margin: 0 auto;
    padding: 25px 10px;
}
}